body {
  height: 100%;
  margin: 0; }

header {
  height: 100vh;
  width: 100vw;
  background: #291F1E;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  text-align: center; }

.page-title {
  font-family: "Permanent Marker";
  font-size: 8rem;
  width: 100vw;
  color: #F7F3E3; }
  .page-title span {
    font-size: 10rem; }

main {
  position: relative;
  margin-top: 100vh;
  background-color: #F7F3E3; }

.slogan {
  padding-top: 6vh;
  padding-bottom: 8vh;
  font-family: "Permanent Marker";
  font-size: 3rem;
  text-align: center; }
  .slogan p {
    margin: 0; }

.background--chalk {
  background-color: #F7F3E3;
  height: 8vh; }

.navbar {
  z-index: 5;
  height: 8vh;
  position: fixed;
  top: 0;
  width: 100%;
  color: #F7F3E3;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav-logo {
  font-family: "Permanent Marker";
  vertical-align: middle;
  margin-left: 1.5rem; }

.nav-menu {
  margin-right: 1.5rem; }

.venue__card {
  position: relative;
  background-color: #291F1E;
  color: #F7F3E3;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 8vh; }

.venue__card--img {
  height: 28vh;
  width: 100%;
  object-fit: cover; }

.venue__card--info {
  font-family: "Lato"; }

.venue__card--name {
  font-family: "Permanent Marker";
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin: 1rem; }

.venue__card--desc {
  line-height: 1.4rem;
  padding-bottom: 6rem;
  margin: 0 1rem; }

.venues__card--buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 0 1.5rem 0;
  margin-bottom: 2rem;
  font-family: "Permanent Marker"; }

.venues__card--menu-button {
  position: absolute;
  left: 1.5rem; }

.venues__card--site-button {
  position: absolute;
  right: 1.5rem; }

.venues__card--button {
  font-size: 1.2rem; }

.venues__card--button:hover {
  cursor: pointer; }

@media (min-width: 800px) {
  .venue__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem; } }
.res__section {
  background-color: #291F1E;
  color: #F7F3E3;
  text-align: center;
  padding-top: 4vh;
  padding-bottom: 4vh; }

.res__title {
  font-family: "Permanent Marker";
  font-size: 3rem;
  margin: 0; }

.res__form {
  padding: 1rem 4rem;
  max-width: 360px;
  margin: 0 auto;
  display: grid;
  grid-auto-rows: 1.5rem;
  grid-row-gap: 0.5rem;
  font-family: "Lato";
  margin-bottom: 8vh; }
  .res__form input {
    font-family: "Lato"; }
  .res__form button {
    all: unset;
    background-color: #F7F3E3;
    color: #291F1E;
    font-family: "Permanent Marker";
    width: 50%;
    margin: 0 auto;
    height: 3rem;
    font-size: 2rem;
    margin-top: 4vh; }
  .res__form button:hover,
  .res__form button:focus,
  .res__form button:active {
    background-color: #291F1E;
    color: #F7F3E3;
    cursor: pointer; }

#requests {
  height: 2rem; }

.find__section {
  background-color: #291F1E;
  color: #F7F3E3;
  text-align: center; }

.find__title {
  font-family: "Permanent Marker";
  font-size: 3rem; }

footer {
  position: relative;
  bottom: 0;
  font-size: 1rem;
  font-family: "Lato";
  background-color: #291F1E;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.footer__text {
  color: #F7F3E3;
  padding-top: 1rem;
  margin-top: 0; }

.footer__links {
  color: #F7F3E3;
  padding-bottom: 1rem;
  width: 10vw;
  display: flex;
  justify-content: space-between; }

.footer__link {
  color: #F7F3E3; }

/*# sourceMappingURL=index.css.map */
