.about__section {
  background-color: $dark;
  color: $chalk;
  text-align: center;
  margin-bottom: 8vh;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.about__title {
  font-family: $main-header-font;
  font-size: 3rem;
  margin: 0;
}
