.venue__card {
  position: relative;
  background-color: $dark;
  color: $chalk;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 8vh;
  // max-width: 600px;
}

.venue__card--img {
  height: 28vh;
  width: 100%;
  object-fit: cover;
}

.venue__card--info {
  font-family: $text-font;
}

.venue__card--name {
  font-family: $main-header-font;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin: 1rem;
}

.venue__card--desc {
  line-height: 1.4rem;
  padding-bottom: 6rem;
  margin: 0 1rem;
}

.venues__card--buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 0 1.5rem 0;
  margin-bottom: 2rem;
  font-family: $main-header-font;

  a {
    color: $chalk;
    text-decoration: none;
  }
}

.venues__card--menu-button {
  position: absolute;
  left: 1.5rem;
}

.venues__card--site-button {
  position: absolute;
  right: 1.5rem;
}

.venues__card--button {
  font-size: 1.2rem;
}

.venues__card--button:hover {
  cursor: pointer;
}


@media (min-width: 800px) {
  .venue__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1200px) {
  .venue__card--img {
    height: 40vh;
  }
}
